body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  /*display: inline-block;*/
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  /*width: 25%;*/
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  /*line-height: 2;*/
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #bce6eb;
}

.middle-container {
  background-color: rgb(250, 250, 248);
}

.bottom-container {
  background-color: rgb(250, 250, 248);
}

.developer {
  color: #66BFBF;
  font-size: 25px;
  font-weight: normal;
}

.dev{
  text-decoration: underline;
}

.cloud-bottom {
  position: absolute;
}

.cloud-top {
  position: relative;
  left: 200px;
  top: 10px;
  margin-top: 50px;
}

* {
    box-sizing: border-box;
  }

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.mugshot  {
  height: 100px;
  width: 100px;
}

.kitchen {
  height: 100px;
  width: 200px;
}

.texas {
  height: 100px;
  width: 200px;
}

.inu {
  height: 200px;
  width: 200px;
}